// Classes
.button {
    padding: 10px 20px;
    border: 2px solid $white;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 20px;

    &:hover {
        @include easeOut;
        background-color: $white;
        color: $black;
    }
}

.page-title {
    text-align: center;
    padding: 80px 0 40px 0;

    h2 {
        font-size: 40px;
    }

    p {
        color: $grey;
    }
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    padding: 20px 0;
}