// Classes
.button {
    padding: 10px 20px;
    border: 2px solid $white;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 20px;
    @include heading-font;

    &:hover {
        background-color: $brown;
        border: 2px solid $brown;
        @include easeOut;
    }
}

.page-title {
    text-align: center;
    padding: 80px 0 40px 0;

    h2 {
        font-size: 50px;
        color: $brown;
        @include script-font;
    }

    p {
        color: $grey;
        @include heading-font;
    }
}

.section-title {
    color: $brown;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    padding: 20px 0;
    @include script-font;
}