#create {
    height: calc(100vh - 216px);

    #createImg {

        img {
            width: 80%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include easeOut;
        }
    }

    #createMenu {
        position: absolute;
        bottom: 0;
        left: 0;

        .upper-menu {
            background: $white;
            height: 100px;
            visibility: hidden;

            &.show {
                visibility: visible;
            }

            .upper-menu-category {
                display: none;
                justify-content: center;

                &.show {
                    display: flex;
                }

                img {
                    height: 100px;
                    cursor: pointer;
                }
            }
        }

        .sub-menu {
            text-align: center;
            cursor: pointer;

            h3 {
                color: $white;
                background: $black;
                line-height: 50px;
                margin: 0;
                border: 1px solid $grey;
                border-radius: 5px 5px 0 0;
                @include easeOut;
                @include body-font;

                &::selection {
                    background-color: transparent;
                }

                &.opened {
                    background: $dark-grey;
                }
            }
        }
    }
}

#options {
    padding: 50px 0 50px 0;
    height: 200vh;

    h3 {
        text-align: center;
        padding: 10px;
        @include heading-font;
    }

    #priceSection {
        background-color: $black;
        width: 100%;
        border-radius: 5px;
        color: $white;
        position: relative;
        top: 60px;
        text-align: center;

        .price-title {
            background-color: $dark-grey;
            border-radius: 5px 5px 0 0;
        }

        .price {
            padding: 20px 0;
            font-size: 40px;
        }

        .delivery-time {
            background-color: $dark-grey;
            padding: 20px 0;
            margin: 0;
            @include body-font;

            i {
                color: $grey;
            }
        }

        .add-basket {
            width: 100%;
            padding: 20px 0;
            border: none;
            outline: none;
            color: $white;
            background-color: $red;
            border-radius: 0 0 5px 5px;
            @include body-font;
        }
    }

    .size-select {
        position: relative;
        height: 200px;

        .radio-btn {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;

            &:checked + .radio-tile {
                border: 3px solid $blue;
                color: $blue;
            }
        }

        .radio-tile {
            width: 100%;
            height: 100%;
            border: 1px solid $grey;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include easeOut;

            i {
                font-size: 70px;
                margin-bottom: 10px;
            }

            label {
                font-size: 24px;
                @include body-font;
            }
        }
    }
}