#create {
    height: calc(100vh - 216px);

    #createImg {

        img {
            width: 80%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include easeOut;
        }
    }

    #createMenu {
        position: absolute;
        bottom: 0;
        left: 0;

        .upper-menu {
            background: $white;
            height: 100px;
            visibility: hidden;

            &.show {
                visibility: visible;
            }

            .upper-menu-category {
                display: none;
                justify-content: center;

                &.show {
                    display: flex;
                }

                img {
                    height: 100px;
                    cursor: pointer;
                }
            }
        }

        .sub-menu {
            text-align: center;
            cursor: pointer;

            h3 {
                color: $white;
                background: $black;
                line-height: 50px;
                margin: 0;
                border: 1px solid $grey;
                border-radius: 5px 5px 0 0;
                @include easeOut;

                &::selection {
                    background-color: transparent;
                }

                &.opened {
                    color: $black;
                    background: $white;
                }
            }
        }
    }
}