@font-face {
    font-family: DancingScript;
    src: url('/fonts/DancingScript.woff2') format('woff2'),
        url('/fonts/DancingScript.woff') format('woff');
}

@font-face {
    font-family: LemonMilk;
    src: url('/fonts/LemonMilk.woff2') format('woff2'),
        url('/fonts/LemonMilk.woff') format('woff');
}

@font-face {
    font-family: LemonMilklight;
    src: url('/fonts/LemonMilklight.woff2') format('woff2'),
        url('/fonts/LemonMilklight.woff') format('woff');
}
