footer {
    width: 98.9vw;
    background: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 12px;
    text-align: center;
    @include body-font;

    #social i {
        margin: 0 10px;
        font-size: 20px;
    }
}
