#mainSlider {

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin: 0 10px;
    }

    .carousel-item {
        background-size: cover;
        background-position: center;
        height: 100vh;
        filter: brightness(90%);

        &:nth-child(1) {
            background-image: url('/img/banner.jpg');
        }

        &:nth-child(2) {
            background-image: url('/img/shirt.jpg');
        }

        &:nth-child(3) {
            background-image: url('/img/wood.jpg');
        }
    }

    .carousel-caption {
        bottom: 60px;

        h2 {
            margin-bottom: 40px;
            font-size: 40px;
            @include script-font;
        }

        .slider-btn {
            margin: 20px 0;
        }
    }
}

#createBanner {
    overflow: hidden;
    background-color: $white;
    padding: 50px 0;

    img {
        display: block;
        margin: auto;
        max-width: 80vw;
    }
}

#bowBanner {
    position: relative;

    img {
        max-width: 100%;
    }
    
    a {
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 160px);
    }
}

#links {
    padding: 50px 0;

    #accesories {
        display: flex;
        justify-content: center;

        .main-links {
            background-color: $black;
            display: inline-block;
            font-size: 16px;
            margin: 30px;
            max-width: 315px;
            min-width: 230px;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 100%;

            * {
                box-sizing: border-box;
                @include easeOut;
            }

            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($black, .7);
                border-left: 3px solid $white;
                border-right: 3px solid $white;
                content: '';
                opacity: 0.9;
                z-index: 1;
                @include easeOut;
            }

            &:before {
                transform: skew(45deg) translateX(-155%);
            }

            &:after {
                transform: skew(45deg) translateX(155%);
            }

            img {
                backface-visibility: hidden;
                max-width: 100%;
                vertical-align: top;
            }

            figcaption {
                top: 50%;
                left: 50%;
                position: absolute;
                z-index: 2;
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
                box-shadow: 0 0 10px $black;
            }

            h3 {
                background-color: $black;
                border: 2px solid $white;
                color: $white;
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 1px;
                margin: 0;
                padding: 5px 10px;
                text-transform: uppercase;
                @include body-font;
            }

            a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 3;
            }

            &:hover,
            &.hover {
                & > img {
                    opacity: 0.5;
                }

                &:before {
                    transform: skew(45deg) translateX(-55%);
                }

                &:after {
                    transform: skew(45deg) translateX(55%);
                }

                figcaption {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                }
            }
        }
    }
}